<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>K</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/logok32.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/logok32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/logok16.png">
        <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('billabear') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('billabear') }}
        {% endblock %}
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        <div id="app"></div>
    </body>
</html>
